<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Correo Electronico</th>
        <th scope="col">Nombres</th>
        <th scope="col">Clave</th>
        <th scope="col">Estado</th>
        <th scope="col">Numero telefono</th>
        <th scope="col">Cod ciudad</th>
        <th scope="col">Cod pais</th>
        <th scope="col">Fecha de creación</th>
        <th scope="col">Fecha Modificación</th>
        <th scope="col">Ultimo ingreso</th>
        <th scope="col">Token</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>Mark</td>
        <td>Otto</td>        
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>Mark</td>
        <td>Otto</td>        
      </tr>     
    </tbody>
  </table>
