<h5>Actualizar</h5>
<div class="form-control border-success" style="width: 33rem;" >
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Correo Electronico</label>
      <input type="email"  class="form-control" id="email" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">Usa este formato para el email.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Nombres</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Estado</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Codigo Pais</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Codigo Ciudad</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Numero celular</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>

   
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>