
<br>
<br>
<h5>Datos usuario</h5>
<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Correo Electronico</th>
        <th scope="col">Nombres</th>
        <th scope="col">Clave</th>
        <th scope="col">Estado</th>
        <th scope="col">Fecha de creación</th>
        <th scope="col">Fecha Modificación</th>
        <th scope="col">Ultimo ingreso</th>
        <th scope="col">Token</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>luisduemas@colsubsidio.com</td>
        <td>Luis Miguel Dueñas Gommez</td>
        <td>@Alfa2023**</td>
        <td>Activo</td>
        <td>2023-01-29</td>
        <td>@2023-01-29</td>
        <td>2023-01-29</td>
        <td>mjhbsfjl</td>            
      </tr>    
    </tbody>
  </table>

  <br>
  <br>
  <h5>Numeros De Telefono</h5>
        <table class="table">
        <thead>
            <tr>
                <th scope="col">Numero de telefono</th>
                <th scope="col">Codigo de ciudad</th>
                <th scope="col">Codogo de pais</th>
            </tr>
            <tr>                   
        </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>                          
              </tr>    
            </tbody>
          </table>